/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i,900,900i');

/* VARIABLE DECLARATION */
$stoneland-black: #000;
$stoneland-white: #FFF;

/* Mobile first queries */

.hide-mobile{
  display: none;
}

.show-mobile{
  display:inherit;
}



body{
  background-color: $stoneland-white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

hr{
  border-top:1px solid $stoneland-black;
}

h4{
  font-weight: bold;
}

h5{
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 24px;
}

button {
  border-radius: 23px;
  background-color:$stoneland-black;
  border: none;
  color: $stoneland-white;
  font-size: 13px;
  font-weight: normal;
  height: 46px;
}

button:hover{
  color:$stoneland-white;
}

.section {
    padding: 20rem 0 19rem;
    position: relative;
}
.stone-land-header
{
  padding:0px;
  background-image: url("../images/stoneland-header.jpg");
  background-size: cover;
  background-position: center;
  color:$stoneland-white;
  text-align: center;
  .stoneland-title{
    padding:8rem 0 4rem;
  }
  button{
    position: relative;
    bottom: -33px;
    z-index: 100;
    color:#FFF;
  }
}

//MAP SECTION CSS
.map-section {
  color:$stoneland-black;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  .stoneland-intro
  {
    font-size: 14px;
  }
  .content-container
  {
    padding:0px 40px;
  }
  .map{
    position:absolute;
    width:100%;
    left:-60%;
    right:0px;
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    z-index: -100;
    .map-image{
      width:100%;
      position: relative;
      margin:0 auto;
    }
    .city-marker{
      position:absolute;
      b{
        line-height: 20px;
        font-style: italic;
        display: block;
        font-size: 10px;
      }
      span{
        font-size: 40px;
        position: relative;
        top: -15px;
        font-weight: bold;
        line-height: 10px;
      }
    }
    #glasgow{
      top:64%;
      left:48%;
    }
    #edinburgh
    {
      top:64%;
      left:65.4%;
    }
    .pin{
      position: absolute;
      width: 12px;
    }
    #pin-1{
      top:28%;
      left:60%;
    }
    #pin-2{
      top:38%;
      left:78%;
    }
    #pin-3{
      top:38.6%;
      left:80.6%;
    }
    #pin-4{
      top:39.4%;
      left:70%;
    }
    #pin-5{
      top:42%;
      left:55%;
    }
    #pin-6{
      top:48%;
      left:60%;
    }
    #pin-7{
      top:49%;
      left:52%;
    }
    #pin-8{
      top:55%;
      left:50%;
    }
  }
}

//VIDEO CSS
.stoneland-videos
{
  text-align: left;
  b{
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
  }
  span{
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
  }
  img{
    width:100%;
  }
  .stoneland-vid
  {
      position: relative;
      #stoneland-vid-1
      {
        width:100%;
        height:140px;
        background-position: center;
        background-size: cover;
        background-image: url("../images/stoneland/video_thumbs/stoneland-video-still-1.jpg");
      }
      #stoneland-vid-2
      {
        width:100%;
        height:140px;
        background-position: center;
        background-size: cover;
        background-image: url("../images/stoneland/video_thumbs/stoneland-video-still-2.jpg");
      }
      #stoneland-vid-3
      {
        width:100%;
        height:140px;
        background-position: center;
        background-size: cover;
        background-image: url("../images/stoneland/video_thumbs/stoneland-video-still-3.jpg");
      }
      .play-icon
      {
        position:relative;
        display: block;
        margin:0 auto;
        top:calc(50% - 25px);
        width:46px;
        height:51px;
      }
  }
}

//GALLERY SECTION CSS
.stoneland-images{
  padding-bottom: 15px;
  img{
    width:100%;
  }
}

.gallery-container{
  padding:0px;
}
.gallery-button{
  position: relative;
  top: -45px;
}

.social-icons{
  img{
    margin:0px 15px;
    cursor: pointer;
  }
}


/* Larger than mobile */
@media (min-width: 768px) {

  h5{
    font-weight: 700;
    letter-spacing: 2px;
  }

  .hide-mobile{
    display: block;
  }

  .show-mobile{
    display: none;
  }

  .section {
      padding: 20rem 0 19rem;
      position: relative;
  }
  .stone-land-header{

    button{
      bottom: -220px;
    }
  }

  .stoneland-title{
    padding:20rem 0 19rem;
  }

  //INTRO SECTION CSS
  .stoneland-intro
  {
    font-size: 18px;
  }

  .content-container
  {
    padding:0px 0px;
  }
  //MAP CONTAINER FOR LARGER DEVICES
  .map-section {
    color:$stoneland-black;
    text-align: center;
    padding-top: 5rem;
    .map-container
    {
      margin:0px;
      max-width: none;
      width:100%;
      position: relative;
      .map{
        position:absolute;
        width:100%;
        left:0px;
        max-width: 1000px;
        .city-marker{
          position:absolute;
          b{
            font-size: 14px;
          }
          span{
            font-size: 60px;
          }
        }
        #glasgow{
          top:66%;
          left:52%;
        }
        #edinburgh
        {
          top:64.3%;
          left:69.4%;
        }
        .pin{
          width: 24px;
        }
      }
    }
  }

  //VIDEOS SECTION CSS
  .stoneland-videos{
    b{
      margin-top: 0px;
    }
    span{
      margin-bottom: 0px;
    }
    .stoneland-vid{
        #stoneland-vid-1, #stoneland-vid-2, #stoneland-vid-3
        {
          height:170px;
        }
    }
  }

  .gallery-button{
    position: relative;
    top: -60px;
  }
}
